<!--
  ====================================================================================
  ||  Version: 1.0                                                                  ||
  ||  Creation date: June 2017                                                      ||
  ||  Autor: Created by Green Lyon                                                  || 
  ||  Owner: Kreis Industries                                                       || 
  ||  Description: HTML view for Kreis Industries Website /FooterComponent          ||
  ||  Last change: Creation Ver 1.0 June 2017 Green Lyon> Mariano Soto              ||
  ====================================================================================                
-->


<!-- =================== footer-component.html Template for FooterComponent =================== -->				
<div id="footer" class="container-fluid">
	<div  class="row-fluid">
		<div class="col-xs-12">
			<p>&copy; MMXXVII Industrias Kreis | A <a class="" href="http://www.greenlyon.com" target="_blank">Green Lyon</a> production.</p>
		</div>
	</div>
</div>
<!-- =================== /footer-component.html Template for FooterComponent =================== -->	