<!--
  ====================================================================================
  ||  Version: 1.0                                                                  ||
  ||  Creation date: Nov 2017                                                       ||
  ||  Autor: Created by Green Lyon                                                  || 
  ||  Owner: Kreis Industries                                                       || 
  ||  Description: Base HTML code for Kreis Industries Website                      ||
  ||  Last change: Creation Ver 1.0 Nov  2017 Green Lyon> Mariano Soto              ||
  ====================================================================================                
-->


<!-- =================== clients.component.html Template for BrandsComponent =================== -->
	<section  id="kreis-clients-section" data-type="background" data-speed="5" class="kreis-clients"><!-- Start of section -->

<!--  ========================================Page header======================================== -->
			<div class="col-xs-0 col-md-5"></div>
			<div class="col-xs-12 col-md-6 app-navi">
	<!-- ==============  NavigationComponent ============== -->
				<app-navi></app-navi>		
			</div>
			<div class="col-xs-0 col-md-1"></div>
<!-- ========================================/Page header======================================== -->

<!-- ======================================== Page content======================================= -->
		<article id="clients-content">
			<div class="row-fluid tall-row">
				
				<div class="clearfix visible-sm-block"></div>	
	
		<!-- Section title MOBILE  -->
				<div class="col-xs-12  clients-title">
					<h1 translate [translateParams]="{value: 'Clients'}">CLIENTS.TITLE</h1>
				</div>
		<!-- / Section title MOBILE -->	

	<!-- kreis-industires-logo-small  -->
				<div class="hidden-sm col-lg-2 clients-logo-sm hidden-ipadv"></div>
				<div class="col-xs-0 col-lg-10 clearfix"></div>
	<!-- kreis-industires-logo-small  -->		

				
	<!-- Section blur-->
				<div class="col-xs-12 clients-blur"></div>
	<!-- / Section blur -->


	<!-- Section pattern -->
				<div class="col-xs-12 clients-lines"></div>
	<!-- / Section pattern -->
<!-- ========================================/clients catalog ======================================== -->
				<div id="clients-catalog" class="col-xs-12 clients-catalog">
					<div class="col-md-3 client" id="client-city-capital">
						<div class="client-city-capital" alt="City Capital" title=""></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-camara-comercio">
						<div class="client-camara-comercio" alt="Cámara de Comercio de Guadalajara" title="Cámara de Comercio de Guadalajara"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-hospital-angeles">
						<div class="client-hospital-angeles" alt="Hospital Ángeles" title="Hospital Ángeles"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-legorreta">
						<div class="client-legorreta" alt="Legorreata Abogados" title="Legorreata Abogados"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-gsm">
						<div class="client-gsm" alt="Grupo Sordo Maleno" title="Grupo Sordo Maleno"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-informador">
						<div class="client-informador" alt="El Informador de Guadalajara" title=""></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-omnilife">
						<div class="client-omnilife" alt="Omnilife" title="Legorreata Abogados"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-camino-real">
						<div class="client-camino-real" alt="Hoteles Caminio Real" title="Hoteles Caminio Real"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-udg">
						<div class="client-udg" alt="Universidad De Guadalajara" title="Universidad De Guadalajara"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-riu">
						<div class="client-riu" alt="Hoteles RIU" title="Hoteles RIU"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-pta-hierro">
						<div class="client-pta-hierro" alt="Puerta de Hierro Residencial" title="Puerta de Hierro Residencial"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-sport-city">
						<div class="client-sport-city" alt="Sport City" title="Sport City"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-pueblo">
						<div class="client-pueblo" alt="Pueblo Bonito" title="Pueblo Bonito"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-rosewood">
						<div class="client-rosewood" alt="Rosewood San Miguel" title="Rosewood San Miguel"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-hacienda">
						<div class="client-hacienda" alt="Hacienda & Casas rurales Jalisco" title="Hacienda & Casas rurales Jalisco"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-aeromexico">
						<div class="client-aeromexico" alt="Aeromexico" title="Aeromexico"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-maz">
						<div class="client-maz" alt="Museo de Arte de Zapopan" title="Museo de Arte de Zapopan"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-aplijsa">
						<div class="client-aplijsa" alt="Aplijsa joyerías" title="Aplijsa joyerías"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-country-club">
						<div class="client-country-club" alt="Guadalajara Country Club" title="Guadalajara Country Club"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-legionari">
						<div class="client-legionari" alt="Legionarios de Cristo" title="Legionarios de Cristo"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-alpes">
						<div class="client-alpes" alt="Instituto Alpes" title="Instituto Alpes"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-alpes-2">
						<div class="client-alpes-2" alt="Instituto Alpes" title="Instituto Alpes"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-cumbres">
						<div class="client-cumbres" alt="Instituto Cumbres" title="Instituto Cumbres"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-cdmx">
						<div class="client-cdmx" alt="Ciudad de México" title="Ciudad de México"></div>
						<div></div>
					</div>
					<div class="col-md-3 client" id="client-mayan">
						<div class="client-mayan" alt="Mayan Palace" title="Mayan Palace"></div>
						<div></div>
					</div>					
				</div>				 
<!-- ========================================/clients catalog ======================================== -->
	
		<!-- Section title -->
				<div class="hidden-sm col-xs-0 col-lg-9"></div>
				<div class="col-xs-12 hidden-sm col-lg-3 clients-title hidden-ipadv">
					<h1 translate [translateParams]="{value: 'Clients'}">CLIENTS.TITLE</h1>
				</div>
		<!-- / Section title -->	
		
				
<!--  ========================================Page footer ======================================== -->
			<div class="col-xs-12 clients-footer footer-container">		
				<footer-component >
					<!-- FooterComponent is automatically loaded inside the <footer></footer HTML element  -->
				</footer-component>
			</div>
<!-- ========================================/Page footer ======================================== -->
			</div><!-- /row-fluid -->
		</article> <!-- /about-content -->
<!-- ========================================/Page content======================================== -->		

	</section><!--End of Section     -->
<!-- =================== clients.component.html Template for BrandsComponent =================== -->