<!--
  ====================================================================================
  ||  Version: 1.0                                                                  ||
  ||  Creation date: November 2017                                                  ||
  ||  Autor: Created by Green Lyon                                                  || 
  ||  Owner: Kreis Industries                                                       || 
  ||  Description: Base HTML code for Kreis Industries Website                      ||
  ||  Last change: Creation Ver 1.0 November 2017 Green Lyon> Mariano Soto          ||
  ====================================================================================                
-->


<!-- =================== subsidiaries.component.html Template for BrandsComponent =================== -->
	<section  id="kreis-subsidiaries-section" data-type="background" data-speed="5" class="kreis-subsidiaries"><!-- Start of section -->

<!--  ========================================Page header======================================== -->
			<div class="col-xs-0 col-md-5"></div>
			<div class="col-xs-12 col-md-6 app-navi">
	<!-- ==============  NavigationComponent ============== -->
				<app-navi></app-navi>		
			</div>
			<div class="col-xs-0 col-md-1"></div>
<!-- ========================================/Page header======================================== -->

<!-- ======================================== Page content======================================= -->
		<article id="subsidiaries-content">
			<div class="row-fluid tall-row">
				
				<div class="clearfix visible-sm-block"></div>	
	
		<!-- Section title MOBILE  
				<div class="col-xs-12  subsidiaries-title">
					<h1>Brands</h1>
				</div>
		<!-- / Section title MOBILE -->	

	<!-- kreis-industires-logo-small  -->
				<div class="hidden-sm col-lg-2 subsidiaries-logo-sm hidden-ipadv"></div>
				<div class="col-xs-0 col-lg-10 clearfix"></div>
	<!-- kreis-industires-logo-small  -->		

				
	<!-- Section blur-->
				<div class="col-xs-12 subsidiaries-blur"></div>
	<!-- / Section blur -->


	<!-- Section pattern -->
				<div class="col-xs-12 subsidiaries-lines"></div>
	<!-- / Section pattern -->
<!-- ========================================/subsidiaries catalog ======================================== -->
				<div id="subsidiaries-catalog" class="col-xs-12 subsidiaries-catalog">
					<div class="subsidiarie col-md-3">
							<p class="col-xs-12 subsidiarie-display-name" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.INM_HDR</p>
							<p class="col-xs-12 subsidiarie-display-details" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.INM_TXT</p>
						</div>
					<div class="subsidiarie col-md-3">
							<p class="col-xs-12 subsidiarie-display-name" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.CON_HDR</p>
							<p class="col-xs-12 subsidiarie-display-details" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.CON_TXT</p>
						</div>
					<div class="subsidiarie col-md-3">
							<p class="col-xs-12 subsidiarie-display-name" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.LSM_HDR</p>
							<p class="col-xs-12 subsidiarie-display-details" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.LSM_TXT</p>
						</div>
					<div class="subsidiarie col-md-3">
							<p class="col-xs-12 subsidiarie-display-name" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.PRG_HDR</p>
							<p class="col-xs-12 subsidiarie-display-details" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.PRG_TXT</p>
						</div>
					<div class="subsidiarie col-md-3">
							<p class="col-xs-12 subsidiarie-display-name" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.PIN_HDR</p>
							<p class="col-xs-12 subsidiarie-display-details" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.PIN_TXT</p>
						</div>
					<div class="subsidiarie col-md-3">
							<p class="col-xs-12 subsidiarie-display-name" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.SIM_HDR</p>
							<p class="col-xs-12 subsidiarie-display-details"  translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.SIM_TXT</p>
						</div>
					<div class="subsidiarie col-md-3">
							<p class="col-xs-12 subsidiarie-display-name" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.FIVA_HDR</p>
							<p class="col-xs-12 subsidiarie-display-details" translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.FIVA_TXT</p>
						</div>	
				</div>				 
<!-- ========================================/subsidiaries catalog ======================================== -->
	
		<!-- Section title -->
				<div class="hidden-sm col-xs-0 col-lg-9"></div>
				<div class="col-xs-12 hidden-sm col-lg-3 subsidiaries-title hidden-ipadv">
					<h1 translate [translateParams]="{value: 'Subsidiaries'}">SUBSIDIARIES.TITLE</h1>
				</div>
		<!-- / Section title -->	
				
<!--  ========================================Page footer ======================================== -->
			<div class="col-xs-12 subsidiaries-footer footer-container">		
				<footer-component >
					<!-- FooterComponent is automatically loaded inside the <footer></footer HTML element  -->
				</footer-component>
			</div>
<!-- ========================================/Page footer ======================================== -->
			</div><!-- /row-fluid -->
		</article> <!-- /about-content -->
<!-- ========================================/Page content======================================== -->		

	</section><!--End of Section     -->
<!-- =================== subsidiaries.component.html Template for BrandsComponent =================== -->