/*
					hhhhhhhhhhhhhhhhhhhhhhhhyyhhhhhhhhhhhhhhhhhhhhhhhh
					hhhhhhhhhhhhhhhhhhhhyso+//+osyhhhhhhhhhhhhhhhhhhhh
					hhhhhhhhhhhhhhhhhyo+//////////+oyhhhhhhhhhhhhhhhhh
					hhhhhhhhhhhhhyso+////////////////+osyhhhhhhhhhhhhh
					hhhhhhhhhhys+////////////////////////+syhhhhhhhhhh
					hhhhhhyso+//////////////////////////////+osyhhhhhh
					hhhhyo//////////:-`.:////////:.`-://////////oyhhhh
					hhhhsso++////-.       .-//-.       .-////++++shhhh
					hhhhsssssoo::////////`      `////////::++++++shhhh
					hhhhssssssso+++osssss:      :ssssso++++++++++shhhh
					hhhhsssssssso/``....++      ++....` :++++++++shhhh
					hhhhsssssssssso.     /`    `/     .++++++++++shhhh
					hhhhssssssssssso      .::::.      +++++++++++shhhh
					hhhhssssssssssss       `++`       +++++++++++shhhh
					hhhhssssssssssss        ++        +++++++++++shhhh
					hhhhssssssssssss.      `++`      .+++++++++++shhhh
					hhhhssssssssssssso:``..`  `..``:+++++++++++++shhhh
					hhhhssssssssssssssss+        /+++++++++++++++shhhh
					hhhhyssssssssssssssss-      -++++++++++++++ooyhhhh
					hhhhhhhyssssssssssssso.    `++++++++++++osyhhhhhhh
					hhhhhhhhhhyysssssssssssso+++++++++++oosyhhhhhhhhhh
					hhhhhhhhhhhhhhyssssssssso++++++++osyhhhhhhhhhhhhhh
					hhhhhhhhhhhhhhhhhyyssssso+++++osyhhhhhhhhhhhhhhhhh
					hhhhhhhhhhhhhhhhhhhhhysso+osyyhhhhhhhhhhhhhhhhhhhh
					hhhhhhhhhhhhhhhhhhhhhhhhyyhhhhhhhhhhhhhhhhhhhhhhhh
		
  ====================================================================================
  ||  Version: 1.0                                                                  ||
  ||  Creation date: June 2017                                                      ||
  ||  Autor: Created by Green Lyon                                                  || 
  ||  Owner: Kreis Industries                                                       || 
  ||  Description: CSS style for Kreis Industries Website Widht => 1600px           ||
  ||  Last change: Creation Ver 1.0 June 2017 Green Lyon> Mariano Soto              ||
  ====================================================================================                
*/

footer p{margin-top: 0%;}
/*----------------------- Welcome section styles ---------------------------*/
.services-title-ipadv{
	visibility: hidden;
	z-index: -1;
}
.welcome-title{
	margin-top: -30%;
	margin-left: -0%;
	font-size: 6.3em;
}
.hidden-md{
	width: 1px !important;
	z-index: -1;
	height: 1px;
	visibility: hidden;
}
.kreis-welcome{
	min-height: 100% !important;
	height: 990px;
	width: 1600px;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	overflow: hidden;
}
.welcome-blur{
	width: 1600px;
	height: 495px;
	min-height: 50% !important;
	max-height: 50%;
	margin-top: -0%;
	margin-left: 0%;
	margin-right: 0%;
	border: solid 2px rgba(0, 0, 0, 1);
}
.welcome-lines{
	background-position:center; 
	width: 1600px;
	height: 495px;
	max-height: 50%;
	margin-top: -31.1%;
	border: solid 0.1em rgba( 230, 230, 230, 0.7);
}
.welcome-logo-container{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: -11.5%;
	margin-bottom: 1.5%
}
.welcome-logo{
 width:40%;
 margin-left: auto;
 margin-right: auto;
}
.navbar{
	font-size: 1.3em;
	padding-right:2%;
}
.welcome-footer{
	margin-top: 0.5%;
	font-size: 1.5em;
}
/*----------------------- Welcome section styles ---------------------------*/

/*----------------------- About section styles ---------------------------*/
	.kreis-about{
		width: 1600px;
	}
	.about-container{
		margin-bottom: -2%;
		min-height: 100%;
		height: 992px;
	}
	.about-kreis{
		z-index: 2222;
		background-image: url('../imgs/backgrounds/Mikkael-Kreis-About-left.jpg');
	}
	.about-logo-container{
		z-index: 5555;
		height: 521px;
		margin-top: -30%;
		margin-bottom: -2%;
		overflow: hidden;
	}
	.about-logo{
		height: 521px;
		margin-bottom: -2%;
		background-size: 100%;
		background-position: bottom;
	}
	.about-blur{
		background-size: 100%;
		height: 992px;
		margin-bottom: -992px;
		max-height: 100%;
	}
	.about-lines{
		background-size: cover;
	}
	.about-quote{	
		margin-top: 5%;
		margin-left: 50%;
		text-align: left;
	}
	.about-quote p{
		color:#D3D3D3;
	}
	.about-quote p small{
		float: right;
		text-align: right;
		color: #FFFFFF;
	}
	.about-bio{
		margin-top: 14.5%;
	}
	.about-philosopy{
		margin-left: 63%;
	}
	.about-bio h3, .about-philosopy h3{
		font-size: 2.1em;
	}
	.about-bio p, .about-philosopy p{
		font-size: 1.3em;
	}

	.about-logo-sm{
		height: 100%;
		background-size: 80%;
	}

	.about-content{
		margin-top: -53%; 
	}
	.about-footer{
		z-index: 9999;
		margin-top: -0%;
		font-size: 1.3em;
	}
	.about-top-left{
		height: 463px;
		font-size: 2.2em;
	}
	.about-top-right{
		height: 546px;
	}
	.about-bottom-right{
		height: 379px
	}
/*----------------------- /About section styles ---------------------------*/


/*----------------------- Services section styles ---------------------------*/
	.kreis-services{
		height: 900px;
		width: 100%;	
		overflow: hidden !important;			
	}
	.services-blur{
		margin-top: -26.5%;
		height: 448px;
		border: 0px solid rgba(255, 0, 0, 0.3);
		-webkit-filter: blur(30px);
	    -moz-filter: blur(30px);
	    -o-filter: blur(30px);
	    -ms-filter: blur(30px);
	    filter: blur(30px);
	    overflow: hidden !important;
	}
	.services-lines{
		opacity: 0.8;
		margin-bottom: -1%;
		margin-top: -29.5%;
		height: 450px;
		background-color: rgba(0, 0, 0, 0.33);
		background-position: bottom;
	}
	.services-title{
		margin-top: 1.6%;
	}
	.services-title h1{
		font-size: 6.5em;
		margin-top: 7%;
		margin-left: 48%;
	}
	.services-logo-sm{
		height: 277px;
		background-size: 75%;
		margin-top: -6.4%;
	}
	.services-logo-container{
		margin-left: -2%;
		margin-top: -28.2%;
		height: 900px;
		max-height: 100%;

	}
	.services-content-bg{
		margin-top: -1px;
		height: 450px;
		background-color: rgba(0,0,0, 1);
	}
	.service{
		margin-top: 7%;
	}
	.service h3{
		font-size: 1.8em;
	}
	.service p{
		font-size: 1.3em;
	}
	.services-last{
		margin-top: -12%;
	}
 	.services-legend{
 		margin-top: 7%;
 	}
 	.services-footer{
 		font-size: 1.3em;
 		margin-top: -2.55%;
 		background-color: rgba(0, 0, 0, 0.0);

 	}

/*----------------------- /Services section styles ---------------------------*/

/*----------------------- Brands section styles ---------------------------*/
.tall-row{
	height:900px;
}
.kreis-brands{
		height: 900px;
		width: 1600px;
		color: white;
}
.brands-logo-sm{
	height: 196px;
	background-size: 65%;
}
.brands-blur{
	width: 100%;
	height: 456px;
    margin-top: 0.3%;
} 
.brands-lines{
	background-size: 100%;
	height: 456px;
	width: 100%;
	margin-top: -28.5%;
	background-color: rgba(85, 85, 85, 0.34);
}
.brands-catalog{
	height: 450px;
	width: 100%;
	max-height: 100%;
	padding:-2%;
	margin-top: -28.5%;
}
.brands-title{	
	margin-top: -30.3%;
}
.brands-title h1{
	font-size:6.0em;
}
.brands-catalog-main{
	margin-left: -2%;	
	height: 448px;
}
.brands-catalog-sidebar{
	height: 100px;
}
.catalog-display{
	height: 448px;	
	margin-top: -28.3%;
}
.brands-logo{	
	height: 472px;
	margin-bottom: -2%;
	margin-top: -14.4% 
}
.invisible{
	visibility:hidden;
}
.brands-catalog-btn-bg{
	text-align: center;
	padding-top: 10.65%;
	margin-left: -3.6%;
	margin-right: 3.6%;
	height: 100%;
	border: 1px solid rgba(0,255,255, 0.0);
	background-color: rgba(0,255,255, 0.0);
}
.brand-tile{
	opacity:0.5;
}
.brand-tile:hover{
	opacity:1;
}
.brand-display-name{
	
}
.brand-detail-logo{
	margin-top: 49.8%;
	margin-left: 20.3%;
	width: 75%
}
.spacer {
    margin-top: 1%; 
}
#details-close-btn{
	font-size: 1.5em;
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
	border-color:  rgba(255, 255, 255, 0.1);
}
#details-close-btn:hover, #details-close-btn:focus {
	background-color: rgba(255, 255, 255, 0.1);
	color: #D91C5C;
	border-color: rgba(0, 0, 0, 0.1);
}
	.hidden-brand{
	}
	.brand-icon{
		width: 75%;
	}
	.brands-footer{
		font-size: 1.3em;
		margin-top: 1%;
		margin-bottom: -2%;
	}
	#details-description p{
		margin-top: -5%;
		font-size: 1.5em;
		color: #ccc;
	}	
	.details-right{
		color:#ccc;
		font-size: 1.3em;
		padding-top: 4%;

	}
	.brands-map{
		height: 183px;
	}
	.side-menu{
		margin-top: 7%;
	}
	.brands-details-close-container{
		margin-top: 10%
	}
/*----------------------- Brands section styles ---------------------------*/

/*----------------------- Gallery section styles ---------------------------*/
	.kreis-gallery{
		height: 900px;
		width: 1600px;
		color: white;
	}
	.gallery-prev{}
	.gallery-next{}
	.gallery-nav{

	}
	.gallery-nav:hover, .gallery-nav:focus{}
	.gallery-album-triger{
		height: 100%;
		background-size: 50%;
	}
	.kreis-gallery-logo{
		margin-top: 4.5%;
		margin-bottom: -1%;
		height: 30%;
		background-size: 70%;
		background-repeat: no-repeat;
		background-position: center;
	}
		.gallery-album{
			margin-top: -17%;
			width: 1600px;
			height: 270px;

		}
		.gallery-spacer-top{
			height: 25%;
		}
		.social-icons-bar{
			margin-top: 15%;
			margin-bottom: -3%;
			height:108px;
			margin-left: 5%
		}
		.social-icon{
			padding-top: 7%;
			font-size: 1.5em;
			background-size: 80%;
			background-repeat: no-repeat;
			background-position: center;
			height: 100%;
		}
		.social-icon:hover, .social-icon:focus{
			opacity: 1.0;
		}
		.social-fb{
		}
		.social-yt{
		}
		.social-tw{
		}
		.social-ins{
		}
		.social-lin{
		}
		.social-ggl{
		}
		.social-pin{
		}
		.gallery-blur{
			margin-top: 3%;
			height: 230px;
		}
		.gallery-lines{
		margin-top: -14.5%;	
			height: 230px;
		}
		.gallery-btn-kitchen{
			height: 70%;
			width: 100%;
		}
		.gallery-btn-architects{
			height: 70%;
			width: 100%;
		}
		.gallery-btn-art{
			height: 70%;
			width: 100%;
		}
		.gallery-album-btn{
			height: 100%;
		}
		.hidden-album{}
		.hidden-block{}
		.modal-content{
			width: 855px;
			height: 542px;
			margin-top:30%;
			margin-bottom:0%;
			margin-left:-26%;
		}
		.modal-content h4{
			font-size: 3em;
		}
		.modal-content p{
			font-size: 1.5em;
		}
		.details-blur{
			margin-bottom: -54%;
			}
	.gallery-footer{
		font-size: 1.3em;
		margin-top: -1.1%;
	}
	#fullview-mob{
		z-index: -1;
		opacity: 0.0;
		font-size: 0em;
		padding-top: 0px;
		padding-left: 0px;
		visibility: hidden;
	}
	.gallery-album-triger-mob{
		height: 0px !important;
		z-index: -1;
		opacity: 0.0;
		font-size: 0em;
		padding-top: 0px;
		padding-left: 0px;
		visibility: hidden;
	}
	.gallery-spacer-bottom{
		height: 17%
	}
	.gallery-menu-h2{
		margin-top: 10px !important;
		margin-bottom: 30px !important;
		font-size: 2.2em;
	}

/*----------------------- / Gallery section styles ---------------------------*/

/*-----------------------  Contact section styles ---------------------------*/
		.kreis-contact{
			margin:0px;
			padding: 0px;
			height: 900px;
			width: 1600px;
		}
		.contact-container{
			height: 900px;
		}
		.contact-left-top h1{
			margin-top: 11%;
			font-size: 5.5em;
		}
		.contact-blur{
			height: 482px;
		}
		.contact-form{
			height: 482px;
			width: 100%;
			margin-top: -53%;
			padding-top: 1%;
		}
		.contact-map{
		}
		.contact-footer{
			font-size: 1.3em; 
			margin-top: -2.3%;
			margin-bottom: -0.5%;
		}
		.contact-left-top{
			height: 173px;
		}
		.contact-left-bottom{
			height: 173px;
		}
		.contact-map{
			height: 80%;
			margin-top:1%;
		}
		.contact-logo-sm{
			height: 181px;
		}
		.contact-info{
			font-size: 1.1em;
		}
		.contact-info-spacer{
			height:  17px;
		}
		.contact-info-data{
			height:  108px;
		}
		.contact-info-web{
			height:  17px;
		}
		.contact-form-container{
			height: 100%
		}
		.contact-data-block{
			margin-top: -36%;
		}
		.contact-send-btn{
			height: 60px;
			margin-top: 2%;
			font-size: 1.3em;
		}
		 .contact-label{
		 	font-family: 'HelveticaNueLTCom';
		 	font-size: 1.3em;
		 }		 
		.contact-right-top{
			font-size: 2.1em;
			height: 417px;
			width: 100%;
		}
		.contact-quote{
			margin-top: 7%;			
		}
		.contact-quote p{
			color:#D3D3D3;
		}
		.contact-quote p small{
			float: right;
			text-align: right;
			color: #FFFFFF;
		}
		.contact-right-middle{
			height: 383px;
		}
		.contact-right-bottom{
			height: 120px;
			width: 100%;
		}
		#contact_msg{
			height: 280px !important;
		}
/*----------------------- / Contact section styles --------------------------*/