<!--
  ====================================================================================
  ||  Version: 1.0                                                                  ||
  ||  Creation date: June 2017                                                      ||
  ||  Autor: Created by Green Lyon                                                  || 
  ||  Owner: Kreis Industries                                                       || 
  ||  Description: Base HTML code for Kreis Industries Website                      ||
  ||  Last change: Creation Ver 1.0 June 2017 Green Lyon> Mariano Soto              ||
  ====================================================================================                
-->

			<router-outlet></router-outlet>	
