<!--
  ====================================================================================
  ||  Version: 1.0                                                                  ||
  ||  Creation date: June 2017                                                      ||
  ||  Autor: Created by Green Lyon                                                  || 
  ||  Owner: Kreis Industries                                                       || 
  ||  Description:  HTML view for Kreis Industries Website Navigation bar           ||
  ||  Last change: Creation Ver 1.0 June 2017 Green Lyon> Mariano Soto              ||
  ====================================================================================                
-->

<!-- =================== navi.component.html  =================== -->
				<div class="navbar-wrapper">

					<nav class="navbar navbar-fixed-top navbar-light bg-faded">

						<div class="row-fluid">

							<div class="navbar-header">
								<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navigation-menu" aria-expanded="false">
									<span title="Show / Hide navigation menu" class="sr-only">Show / Hide Navigation menu</span>
									<span title="Show / Hide navigation menu" class="icon icon-dots-three-vertical" id="Nav-caret"></span>					
								</button>
							</div><!-- navbar-header -->

							<div class="collapse navbar-collapse" id="navigation-menu">	

								<ul class="nav navbar-nav navbar-right">
									<li title="Welcome"  class="nav-item ">
										<a id="nav-welcome" [routerLink]="['/welcome']" class="nav-link " >Welcome</a>
									</li>
									<li title="About Kreis Industries"  class="nav-item bg-faded">
										<a id="nav-about" [routerLink]="['/about']" class="nav-link">About</a>
									</li>
									<li title="Service portfolio"  class="nav-item bg-faded">
										<a id="nav-services" [routerLink]="['/service-potfolio']" class="nav-link">Services</a>
									</li>
									<li  title="Brand portfolio" class="nav-item bg-faded">
										<a id="nav-brands" [routerLink]="['/brands']" class="nav-link" >Brands</a>
									</li>
									<li  title="Photo gallery" class="nav-item bg-faded">
										<a id="nav-gallery" [routerLink]="['/gallery']"class="nav-link">Gallery</a>
									</li>
									<li  title="Contact us" class="nav-item bg-faded">
										<a id="nav-contact" [routerLink]="['/contact']" class="nav-link">Contact</a>
									</li>
								</ul> <!-- nav navbar-nav navbar-right -->

							</div> <!-- navigation-menu  -->
						</div> <!-- /container-fluid -->
					</nav> <!-- /navbar navbar-fixed-top navbar-light bg-faded -->
				</div> <!-- /navbar-wrapper -->
<!-- =================== navi.component.html  =================== -->